$main: #e5e8ed;

$main-text: #868a8d;

$link: #057ae3;

$white: #ffffff;
$silver: #e6ecef;
$light-grey: #ebebeb;
$grey: #c2cbd1;
$light-blue: #1193ff;
$blue: #1493fe;
$dark-blue: #0a508b;
$red: #b0263d;

$shadow-opacity-15: #00000026;
