@import "../../../assets/styles/services.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
}

.messageWrapper {
  padding-left: 5px;

  &.messageWrapperError {
    color: $red;
  }
}
